%table
  %tbody
    - data.courses.each do |c|
      %tr
        %td
          %h5= c.id
          %h3= c.title
          %p
            %strong
              = c.cred
              Credits
          %p
            = c.desc
          %p
            %strong
              College/Department:
            = c.unit
            %br
            %strong
              Repeat Status:
            = c.repeat.present? ? c.repeat : 'Not repeatable for credit'
            
            = c.prereq.present? ? '<br><strong>Prerequisites:</strong>' + c.prereq : ''