%table
  %tbody
    - data.courses.each do |c|
      %tr
        %td
          %p
            %strong
              = c.id
              = c.title
              = c.cred
              Credits
          %p
            = c.desc
          %p
            %strong
              College/Department:
            = c.unit
            %br
            %strong
              Repeat Status:
            = c.repeat
            
            = c.prereq.present? ? '<br><strong>Prerequisites:</strong>' + c.prereq : ''