- data.facultyCore.each do |f|
  .row
    .small-12.large-4.columns
      %img{:src => f.photo, :alt => f.fullname, :style => "width: 120px;"}
      %h5
        = f.fullname
      %p
        %strong Email:
        = mail_to f.email
        %br
        %strong Office:
        = f.addr
        
    .small-12.large-8.columns
      %p
        %strong Research: 
        = f.desc
      %p
        - f.areas.each do |a|
          %span.label
            = link_to a.keys[0], config[:http_prefix] + a.values[0]

      %p
        %strong Website: 
        = f.website
        %br
        %strong Faculty Profile:
        = f.affil
  %hr