---
layout: "home"
title: "Home"
---

%ul.bxslider
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{config[:http_prefix]}research/sensation-to-action\">From Sensation to Action</a>"
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{config[:http_prefix]}research/descending-motor-control\">Descending Motor Control</a>"
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{config[:http_prefix]}research/biomechanics-of-locomotion\">Biomechanics of Locomotion</a>"

%h2 What is Neuroengineering?  
%p.big-text 
  Neuroengineering is a highly interdisciplinary endeavor aimed at understanding computations within the brain and the processes controlled by these computations, and then leveraging this understanding for a multitude of industrial and medical applications. Neuroengineering draws on expertise from many disciplines including neuroscience, mathematics, physics, biomedical engineering and computer sciences. 

%p.big-text 
  %strong Drexel Neuroengineering
  is a cross-campus effort, spearheaded by the School of Biomedical Engineering, Science and Health Systems and Drexel University College of Medicine, to educate the next generation of interdisciplinary brain scientists and bioengineers, by creating teams of students with a shared common language and similar quantitative bases and frameworks, even though each one originates from different original disciplines of expertise.

%p.big-text 
  The <a href="">faculty</a> research interests include 
  %ul
    %li Systems Neuroengineering
    %li Brain-Computer Interface
    %li Neuromorphic Engineering 
    %li Comparative Neuroengineering
    %li Computational Neuroengineering
    %li Translational Neuroengineering
    %li Human Neuroengineering
    %li Neuromechanics
    %li Neural Circuit Engineering
    %li Biomaterials
    %li Neural Tissue Enginnering

%p.big-text 
  %strong Is Neuroengineering for you? 
  Neuroengineering is an effective launching pad for many careers such as an academic career in a wide variety of disciplines; and careers in industry such as robotics, prosthetics, brain-machine interfaces and machine learning. Neuroengineering is for anyone who is interested in understanding how brains work and the multi-faceted applications this understanding brings.

%p.big-text
  %strong How to prepare for a graduate education in Neuroengineering? 
  The ideal candidate will have a 1) strong quantitative training through coursework in mathematics and computer sciences, 2) some exposure to engineering, and 3) some exposure to neuroscience. However, since Neuroengineering is highly interdisciplinary, a grounding in many different STEM disciplines is a good starting point for Neuroengineering. 