---
layout: "home"
title: "Home"
---

%ul.bxslider
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{:http_prefix}research/sensation-to-action\">From Sensation to Action</a>"
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{:http_prefix}research/descending-motor-control\">Descending Motor Control</a>"
  %li= image_tag "https://via.placeholder.com/350x150", title: "Research Project: <br><a class=\"more-link\" href=\"#{:http_prefix}research/biomechanics-of-locomotion\">Biomechanics of Locomotion</a>"

%h1 Overview
%p.big-text We study how animal behavior emerges from the complex interaction amongst the animal's nervous systems, their muscle-body dynamics and their environment.
%p.big-text We use fruitflies (<em>Drosophila melanogaster</em>) as our model organism because they perform many complex behaviors with a relatively simple brain, and because of the many genetic tools that are available in the flies.
%p.big-text We employ a multi-pronged approach which includes in vivo whole-cell patch clamp recordings, imaging, quantitative measurement of behavior, biomechanics, and computation. 