---
layout: "home"
title: "Home"
---

%ul.bxslider
  %li= image_tag "https://via.placeholder.com/880x390", title: "Research Spotlight: <br><a class=\"more-link\" href=\"#{config[:http_prefix]}research/areas\#neuromechanics\">Neuromechanics</a>"


%h2 What is Neuroengineering?  
%p.big-text 
  Neuroengineering is a highly interdisciplinary endeavor aimed at understanding computations within the brain and the processes controlled by these computations, and then leveraging this understanding for a multitude of industrial and medical applications. Neuroengineering draws on expertise from many disciplines including neuroscience, mathematics, physics, biomedical engineering and computer sciences. 

%p.big-text 
  %strong Drexel Neuroengineering
  is a cross-campus effort, spearheaded by the Drexel University 
  = link_to "School of Biomedical Engineering, Science and Health Systems", "https://drexel.edu/biomed" 
  and 
  = link_to "College of Medicine", "https://drexel.edu/medicine" 
  , to educate the next generation of interdisciplinary brain scientists and bioengineers, by creating teams of students with a shared common language and similar quantitative bases and frameworks, even though each one originates from different original disciplines of expertise.

%p.big-text 
  The 
  = link_to "faculty", "#{config[:http_prefix]}faculty/overview"
  research interests include:
  
  %ul.unstyled.research-areas
    - data.research.each do |r|
      %li 
        %a{:href => "#{config[:http_prefix]}research/areas/\##{r.url}"}
          %span.label 
            = r.topic

%p.big-text 
  %strong Is Neuroengineering for you? 
  Neuroengineering is an effective launching pad for many careers such as an academic career in a wide variety of disciplines; and careers in industry such as robotics, prosthetics, brain-machine interfaces and machine learning. Neuroengineering is for anyone who is interested in understanding how brains work and the multi-faceted applications this understanding brings.

%p.big-text
  %strong How to prepare for a graduate education in Neuroengineering? 
  The ideal candidate will have: 
  %br
  1) strong quantitative training through coursework in mathematics and computer sciences, 
  %br
  2) some exposure to engineering, and 
  %br
  3) some exposure to neuroscience. 

%p.big-text
  However, since Neuroengineering is highly interdisciplinary, a grounding in many different STEM disciplines is a good starting point for Neuroengineering. 

%p.big-text
  %strong Plans of Study in Neuroengineering

%p.big-text
  In keeping with this understanding of Neuroengineering breadth and needs there are currently two routes into Neuroengineering concentrations across the campus:

%ol
  %li 
    %p.big-text
      = link_to "Through the Biomedical Engineering PhD Program", "https://drexel.edu/biomed/academics/graduate-programs/biomedical-engineering-phd-degree/"
  %li 
    %p.big-text
      = link_to "Through the Neuroscience PhD Program", "https://drexel.edu/medicine/academics/graduate-school/neuroscience/"